<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Appender de consola con colores solo en el nivel -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %highlight(%-5level) %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Librerías externas solo WARN para no ensuciar -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <!-- Tu paquete principal en INFO -->
    <logger name="com.tempuro.auth" level="INFO"/>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
